task4/washing-machine-isolated-transparent-background.zip
task4/.DS_Store
task4/washing-machine-isolated-transparent-background/b32941ec-9049-44a5-92a3-1c495474b07c.jpg
task4/washing-machine-isolated-transparent-background/b32941ec-9049-44a5-92a3-1c495474b07c.psd
.DS_Store
